@model int

@{
    ViewBag.Title = "Graph";
}

<h2>Graph</h2>

@section scripts {
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
<script type="text/javascript">

		
    nv.addGraph(function () {
        var chart = nv.models.discreteBarChart()
            .x(function (d) { return d.label })    //Specify the data accessors.
            .y(function (d) { return d.value })
            .staggerLabels(true)    //Too many bars and not enough room? Try staggering labels.
            .tooltips(true)        //Don't show tooltips
            .showValues(true)       //...instead, show the bar value right on top of each bar.
            .transitionDuration(350)
        ;

        d3.select('#chart svg')
            .datum(exampleData())
            .call(chart);

        nv.utils.windowResize(chart.update);

        return chart;
    });

    //Each bar represents a single discrete quantity.
    function exampleData() {
        $.ajax({
            url: '@Url.Action("CategoryAmounts", "Home", new { id = Model })',
            dataType: 'json',
            success: function (json) {
                return [
           {
               key: "Categories",
               values: json
               }
                ]
            }
        });
    }


    </script>
    }