@{
    ViewBag.Title = "Account startpage";
}

<div class="jumbotron">
    <h1>Welcome to Financialtron!</h1>
    <p class="lead">At Financialtron, we strive to provide you with tools to make keeping track of your budgets easier.</p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Services that we provide are:</h2>
        <ul>
            <li>You can create custom budget categories, as well as utilize the provided default categories.</li>
            <li>You can insert transactions related to a specific budget.</li>
            <li>We also provide the ability to set budget limits on each category, and display the remainder of the alloted amount.</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Ready to sign-up?</h2>
        <a class="btn btn-primary" href="@Url.Action("Register", "Account")">Get started now!</a>
        <h4>Already have a login?</h4>
        <a class="btn btn-default" href="@Url.Action("Login", "Account")">Log-in here</a>
    </div>
</div>