@model IEnumerable<Financial.Web.Models.Budget>

@{
    ViewBag.Title = User.Identity.ToString() + "'s budgets";
}

<div class="jumbotron">
    <h1>Welcome @User.Identity.Name!</h1>
    <p class="lead">Feel free to browse your categories, or go ahead and add some transactions below.</p>
    <a class="btn btn-primary" href="@Url.Action("Create", "Transactions")">Add a transaction</a>
    <a class="btn btn-primary" href="@Url.Action("Create", "Budgets")">Add a budget</a>
</div>

<div class="row">
    <div>
        <table class="table">
            <tr>
                <td>
                    Budget
                </td>
            </tr>
            @foreach (Financial.Web.Models.Budget budget in Model ) {
            <tr>
                <td>
                    @Html.ActionLink(budget.Title , "Budget", "Budgets", new { id = budget.Id }, null)
                </td>
            </tr>
            }
        </table>
    </div>
    </div>
